//under args specify a valid provider (default is hyperion)
// options are dfuse_provider hyperion_provider polling_provider
const ms = require("human-ms");

module.exports = {
  apps : [
    {
      name: 'croneosMiner',
      script: 'croneosMiner.js',
      args: 'dfuse_provider',
      restart_delay: 0,
    },
    {
      name: 'croneosMiner',
      script: 'croneosMiner.js',
      args: 'polling_provider',
      restart_delay: 0,
    },
    {
      name: 'croneosClaim',
      script: 'croneosClaim.js',
      args: '',
      restart_delay: ms('24h'),
    }
  ]
}
