{
  "croneos_contract": "cron.eos",
  "scope": "cron.eos",
  "miner_account": "boidcomnodes",
  "miner_auth": "validator",
  "mining_pool_permissions": [],
  "rpc_nodes": [
    "https://eos.greymass.com",
    "https://api.eosn.io",
    "https://api.main.alohaeos.com",
    "https://api.eosargentina.io",
    "https://mainnet.genereos.io",
    "https://api.eos.cryptolions.io",
    "https://api.eosarabia.net",
    "https://api.eoseoul.io"
],
  "process_initial_state": true,
  "attempt_options": {
    "max_attempts": 20,
    "attempt_delay_ms": 500,
    "attempt_early_ms": 500,
    "log_error_attempts": true
  },
  "provider_options": {
    "polling_provider": {
      "poll_interval_ms": 30000
    },
    "hyperion_provider": {
      "endpoint": ""
    },
    "dfuse_provider": {
      "endpoint": "eos.dfuse.eosnation.io"
    }
  },
  "gas_thresholds": {
    "EOS": 0.0001,
    "BOID": 0.9,
    "VIG": 0.0001
  }
}